body {
    font-family: sans-serif;
}

.routes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4rem;
}

.routes h3 {
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.routes h3.active {
    color: #1DA1F2;
}